<!DOCTYPE html>
<html>
<head>
    <title>Customer Feedback</title>
</head>
<body>
    <h1>Leave Your Feedback</h1>
    {% if messages %}
        {% for message in messages %}
            <p style="color: green;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        
        <label> Name: </label><br>
        <input type="text" name="name" style="width: 100%; padding:8px; margin-bottom: 10px;" required> <br>

        <label> Feedback: </label><br>
        <textarea name="feedback" style="width: 100%; padding: 8px; height: 100px;" required></textarea><br>

        <button type="submit">Submit Feedback</button>
    </form>
</body>
</html>
